numpy
pandas
matplotlib
scikit-learn

rasterio
geopandas
folium

torch
torchvision

transformers
sentence-transformers

qdrant-client

jupyter
tqdm

earthengine-api

streamlit

geopy
requests
rapidfuzz
